<header>
    <div class="header">
        <h1>MOSACS</h1>
        <nav>
            <ul class="menu">
                <li><a routerLink="/">Home</a></li>
                <li class="about_li"><a routerLink="/about">About</a></li>
                <li><a routerLink="/services">Services</a></li>
                <li><a routerLink="/projects">Projects</a></li>
                <li><a routerLink="/contacts">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<section>
<h1>About Us</h1>
<div class="about_content">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae rem, quidem ipsum, 
        dolore consequatur atque impedit suscipit non sunt ipsa perspiciatis cum reiciendis
         error in? Debitis a tempora eius mollitia.
    </p>
    <img src="assets/img/about.jpeg" alt="image MOSACS">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae rem, quidem ipsum, 
        dolore consequatur atque impedit suscipit non sunt ipsa perspiciatis cum reiciendis
         error in? Debitis a tempora eius mollitia.
    </p>
</div>
</section>

<footer>
<h2>Innovate in growth</h2>
<nav>
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Projects</a></li>
    </ul>
</nav>
</footer>