<header>
    <div class="header">
        <h1>MOSACS</h1>
        <nav>
            <ul class="menu">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/services">Services</a></li>
                <li><a routerLink="/projects">Projects</a></li>
                <li class="services_li"><a routerLink="/contacts">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<section>
    <h1>Contact</h1>
    <div id="contact">
        <div id="info">
            <div class="info">
                <p>Let's discuss your project!
                    Please, provide us with a brief description of what you already have and what you are going to achieve.
                </p>
                <h2>Abidjan</h2>
                <h3>Address</h3>
                <p>adresssss</p>
                <h3>Phone</h3>
                <p>phonnnnee</p>
                <h3>Email</h3>
                <p>emailll</p>
            </div>
        </div>
        <!-- <div id="forms">
            <form action="#">
                First name<input class="form-control" type="text" name="fname"><br>
                Last name<input class="form-control" type="text" name="lname">
                Email<input class="form-control" type="email" name="email"><br>
                Description<textarea class="form-control" type="text" name="subject"></textarea>
            </form>
        </div> -->
        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/samakeyouzerssif" style="min-width:320px;height:700px;"></div>
        <!-- Calendly inline widget end -->
    </div>
</section>
<footer>
    <h2>Innovate in growth</h2>
    <p>Copyrigth 2023</p>
    <nav>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
        </ul>
    </nav>
</footer>
