<header>
    <div class="header">
        <h1>MOSACS</h1>
        <nav>
            <ul class="menu">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li class="services_li"><a routerLink="/services">Services</a></li>
                <li><a routerLink="/projects">Projects</a></li>
                <li><a routerLink="/contacts">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<section>
    <h1>Services</h1>
    <div class="services">
        <div class="service">
            <img src="assets/img/about.jpeg" alt="services">
            <h1>Title</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing 
                elit. Sequi laboriosam sint aperiam sit explicabo 
                velit consequuntur molestias eos, aliquam ullam harum, voluptate sunt, 
                vel repellendus magnam consectetur alias? Enim, sint!
            </p>
        </div>
        <div class="service">
            <img src="assets/img/about.jpeg" alt="services">
            <h1>Title</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing 
                elit. Sequi laboriosam sint aperiam sit explicabo 
                velit consequuntur molestias eos, aliquam ullam harum, voluptate sunt, 
                vel repellendus magnam consectetur alias? Enim, sint!
            </p>
        </div>
    </div>
    <div class="services">
        <div class="service">
            <img src="assets/img/about.jpeg" alt="services">
            <h1>Title</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing 
                elit. Sequi laboriosam sint aperiam sit explicabo 
                velit consequuntur molestias eos, aliquam ullam harum, voluptate sunt, 
                vel repellendus magnam consectetur alias? Enim, sint!
            </p>
        </div>
        <div class="service">
            <img src="assets/img/about.jpeg" alt="services">
            <h1>Title</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing 
                elit. Sequi laboriosam sint aperiam sit explicabo 
                velit consequuntur molestias eos, aliquam ullam harum, voluptate sunt, 
                vel repellendus magnam consectetur alias? Enim, sint!
            </p>
        </div>
    </div>
</section>
<footer>
    <h2>Innovate in growth</h2>
    <nav>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
        </ul>
    </nav>
</footer>
